*

main,
header {
  margin-left: 2%;
  margin-right: 2%;
}

/* cria um espaço acima das tags section main e footer*/
main,
footer {
  margin-top: 2%;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}


@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
